body {
  background-color: #8FBC8F
}

.banner {
  background-image: url(http://wallpapersdsc.net/wp-content/uploads/2015/09/Ping_Pong_HD_51.jpg);
  background-repeat: no-repeat;
  height:250px;
  width: 100%;
  background-position: center;
  margin-bottom: 30px;
}

.well {
  margin-top: 30px;
}

button {
  height: 50px;
  font-size: 24px;
  background-color: #008000;
}

#result {
  display: none;
}

ul, ol, label, p {
  font-size: 18px;
}

/*.ping {
  color: #008000;
}

.pong {
  color: #3CB371;
}

.ping-pong {
  color: #556B2F;
}

.number {
  color: blue;
}*/
