body {
  background-color: #8FBC8F
}

.banner {
  background-image: url(http://wallpapersdsc.net/wp-content/uploads/2015/09/Ping_Pong_HD_51.jpg);
  background-repeat: no-repeat;
  height:275px;
  width: 100%;
  background-position: center;
  margin-bottom: 30px;
  margin-top: -20px;
}

.title {
  font-size: 100px;
  padding-left: 140px;
  padding-top: 80px;
  color: white;
}

button {
  height: 50px;
  font-size: 24px;
  background-color: #008000;
}

#result {
  display: none;
  word-wrap: break-word;
  line-height: 2em;
}

ul, ol, label, p, #result {
  font-size: 18px;
}

ul {
  list-style-type: none;
}

img {
  height: 15px;
  width: 15px;
  float: left;
  margin-right: 10px;
  margin-top: 11px;
}

.ping {
  color: #008000;
}

.pong {
  color: #3CB371;
}

.ping-pong {
  color: #556B2F;
}

.number {
  color: blue;
}
